<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Gestion_Classe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAddUser</display-name>
    <servlet-name>ServletAddUser</servlet-name>
    <servlet-class>Controller.ServletAddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAddUser</servlet-name>
    <url-pattern>/addclass</url-pattern>
    <url-pattern>/delclass</url-pattern>
    <url-pattern>/modclass</url-pattern>
    <url-pattern>/affclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletuser</display-name>
    <servlet-name>Servletuser</servlet-name>
    <servlet-class>Controller.Servletuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletuser</servlet-name>
    <url-pattern>/Servletuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFirst</display-name>
    <servlet-name>ServletFirst</servlet-name>
    <servlet-class>Controller.ServletFirst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFirst</servlet-name>
    <url-pattern>/ServletFirst</url-pattern>
  </servlet-mapping>
</web-app>