<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Gestion_Classe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletHall</display-name>
    <servlet-name>ServletHall</servlet-name>
    <servlet-class>Controller.ServletHall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHall</servlet-name>
    <url-pattern>/ServletHall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAuth</display-name>
    <servlet-name>ServletAuth</servlet-name>
    <servlet-class>Controller.ServletAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAuth</servlet-name>
    <url-pattern>/ServletAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFilm</display-name>
    <servlet-name>ServletFilm</servlet-name>
    <servlet-class>Controller.ServletFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFilm</servlet-name>
    <url-pattern>/ServletFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletClient</display-name>
    <servlet-name>ServletClient</servlet-name>
    <servlet-class>Controller.ServletClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletClient</servlet-name>
    <url-pattern>/ServletClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProjection</display-name>
    <servlet-name>ServletProjection</servlet-name>
    <servlet-class>Controller.ServletProjection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProjection</servlet-name>
    <url-pattern>/ServletProjection</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>Controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>